:root {
    --background: rgb(31, 0, 59);
}

body, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

canvas {
    background-color: var(--background);
    border-radius: 5px;
}

button {
    width: 100px;
    height: 30px;
    margin-bottom: 35px;
    border-radius: 5px;
    outline: none;
    background-color: var(--background);
    color: white;
    border: none;
    font-weight: 600px;
}

button:hover {
    color: red;
    cursor: pointer;
}